{
  "semi": false,
  "printWidth": 100,
  "bracketSpacing": false,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["^react$", "^next", "<THIRD_PARTY_MODULES>", "", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
